<h1>Welcome, this is the homepage </h1>


<form method="POST" action="/">
<p>Your Name: <input type="text" name="name"></p>
<p>Classroom: <input type="text" name="room"></p>
<input type = "submit">
</form>
